## NumPy入門2
cifar10でダウンロードしたデータはNumPy内のarrayというデータで表現した画像データとそれぞれのラベルだった。
この様な複雑なデータの表現や扱いをするのにこのNumPyは非常に便利だ。

そのNumPyについて詳しく学んでいこう。

### 1. NumPyのインポート
以下でNumPyをインポートしよう。一般的にNumPyは、as構文を用いて`np`と省略される。

In [ ]:
import numpy as np

### 2. リストをarrayに変換しよう
以下の様なコードでリストを簡単にarrayに変換できる。

In [ ]:
data = np.array([[1, 2, 3], [3, 4, 5], [6, 7, 8]])

In [ ]:
print(data)
print(data.shape)

### 3. 事前に準備されているarray
以下の様に、NumPyには事前に用意されている標準的なarrayもある。

データの構造(shape)はタプルで指定する。

In [ ]:
zero1 = np.zeros((3))
ones1 = np.ones((3))

print(zero1)
print(ones1)

In [ ]:
zero2 = np.zeros((3,3))
ones2 = np.ones((3,3))

print(zero2)
print(ones2)

### 4. データセットを取り込もう
NumPyには保存したデータをarrayの形式に取り込める`loadtxt()`という関数が用意されている。これを用いて、データをarrayに取り込もう。

なお、ここで用意したデータは応用編で使用した成績データの文字列部分を削除したものである。それぞれの人ごとに、テストの点数が国語、数学、理科、社会、英語の順で並んでいる。

In [ ]:
data = np.loadtxt("./test_score_array1.csv", delimiter=',' )
print(data)

`86.`のように小数点がついているが、これはfloat型として読み込まれていることを表している。

arrayの要素の型はメンバ変数`dtype`で確認できる。

In [ ]:
print(type(data))
print(data.dtype)

int型にして読み込むには以下の様にする。

In [ ]:
data = np.loadtxt("./test_score_array1.csv", delimiter=',' , dtype='int64')
print(data)
print(data.dtype)

### 5. データの構造を確かめよう
メンバ変数`shape`を用いてデータの構造を確かめてみると、これは10行5列の行列であることがわかる。

In [ ]:
print(data.shape)

この様にして、excel等を用いてcsvを開くことなくデータの外観をつかむことができる。また、この様に一度Pythonのデータとして取り込むことで元データに変更を加えることなく取り扱うことができる。

また、メンバ変数`ndim`を用いることでこのデータのを表すテンソルの階数を調べることができる。

In [ ]:
print(data.ndim)

### 6. データの構造を変換しよう
`reshape()`というメソッドを用いるとデータの構造を変換することができる。例えばこの10行5列の行列を50次元のベクトルに変換してみよう。構造の指定には、`shape`などの返り値と同じタプルを用いる。

In [ ]:
print(data.reshape((50)))

In [ ]:
print(data.reshape((2, 5, -1)))

ここで、このメソッドは元のデータを変換しているわけではなく、変換したデータを返しているだけなので、元のデータは影響を受けていない。

In [ ]:
print(data)

変換後のデータを使用する場合は返り値を変数に格納する必要がある。

この様に、データを加工するために用意されたメソッドには元のデータを変更するものと、変更したものを返すだけのものが存在する。

この違いは意識しておく必要がある。

In [ ]:
data_vec = data.reshape((50))
print(data_vec)

### 7. 要素の参照
`data`の要素をいろいろな方法で参照してみよう。

#### 3人目の人の英語（5番目）は何点？

In [ ]:
print(data[2,4])

#### 4人目の人の全教科の点数を調べよう

In [ ]:
print(data[3,:])

この様に、その階の全データを参照する際は`:`を用いる。

使いかたとしてはリストに対するスライス記法と同じである。

In [ ]:
print(data[3,1:3])
print(data[3,:2])
print(data[3,2:])

#### 数学（2番目）の全員の点数分布を見てみよう

考え方は全く同じとなる。

In [ ]:
print(data[:,1])

#### それでは、国語（1番目）と数学（2番目）についても点数の分布を見てみよう。

In [ ]:
print(data[:, :2])

### ８. 各要素の編集、演算
arrayの各要素で演算をしたい場合、どの様にすればいいか学んでいこう。

#### 6人目の人の理科（3番目）の点数は69点ではなく30点だった。データを修正しよう。

変数へのデータの格納と同じ容量でできる。

In [ ]:
data[5,2] = 30

修正できたか確認しよう。

In [ ]:
print(data[5,2])
print(data)

#### 8人目の人のカンニングが発覚したので、全教科一律0点にしよう

In [ ]:
data[7, :] = np.array([0,0,0,0,0])
print(data)

この様に、列や行、スライスを用いて一部分を一気に変更することも可能だ。

#### 100点満点で採点したけれど、50点満点に直したい。全ての点数を1/2にしよう。

In [ ]:
data = data / 2
print(data)

この様に全てのデータに同じ値を加算乗除したい際も簡単に記述できる。

#### 数学（2番目）で出題ミスが発覚したので、全員の数学の点数を+5点しよう

In [ ]:
data[:, 1] = data[:, 1]+5
print(data)

もちろんスライス機能を用いて一部分だけ同じ値を加算乗除、ということもできる。

#### 次のテストの結果が出たので、足し算しよう

※以下で読み込むデータは既に50点満点のものである。

In [ ]:
data2 = np.loadtxt("./test_score_array2.csv", delimiter=',' , dtype='int64')
print(data2)

In [ ]:
data = data + data2
print(data)

こうすれば同じ要素ごとの加算乗除ができる。

積の場合、単に`*`を用いれば要素積となることに注意しよう。行列積の計算方法は後ほど学ぶ。

#### 2回のテストの点数を平均しよう。

In [ ]:
data_mean = data/2
print(data_mean)

### 9.  データをcsvで書き出してみよう
arrayからcsvへの書き出しも`savetxt()`というメソッドを用いれば非常に簡単である。引数の指定は概ね`loadtxt()`と同じである。

In [ ]:
np.savetxt('./test_score_array_mean.csv',data_mean,delimiter=',')